/* INIZIO FOOTER */
/* INIZIO TOP FOOTER */
/* INIZIO LEFT TOP FOOTER */
.background-footer{
    background-image: url(../../../public/img/footer-bg.jpg);
    overflow: hidden;
    height: 354px;
    .top-footer{
        display: flex;
        padding: 20px 0;
        .left-top-footer{
            width: 35%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: grey;
            font-size: 12px;
            .container-footer-menu{
                padding-bottom: 10px;
                h3{
                    text-transform: uppercase;
                    color: white;
                    font-size: 15px;
                    padding-bottom: 10px;
                }
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: grey;
                        font-size: 12px;
                    }
                }
            }
            .blu{
                color: #0282f9;
            }
        }
    }
}
/* FINE LEFT TOP FOOTER */

/* INIZIO RIGHT TOP FOOTER */
.right-top-footer{
    width: 65%;
    position: relative;
    img{
        position: absolute;
        top: -90px;
        left: 18%;
        width: 75%;
    }
}
/* FINE RIGHT TOP FOOTER */
/* FINE TOP FOOTER */

/* INIZIO BOTTOM FOOTER */
.bottom-footer{
    background-color: #303030;



    /* test */
    height: 100px;
}
/* FINE BOTTOM FOOTER */
/* FINE FOOTER */