// INIZIO HEADER
header{
    .blu-line{
        background-color: $primary_color;
        color: white;
        text-align: right;
        span{
            padding-left: 30px;
            font-size: 10px;
            font-weight: 600;
        }
    }
    .container{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                list-style-type: none;
                .logo img{
                    height: 75px;
                    width: auto;
                    margin: 15px 0;
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 15px;
                    font-weight: 600;
                    color: grey;
                }
                input{
                    border-bottom-color: #46a3fa;
                    border-width: 0px;
                    border-bottom-width: 2px;
                    text-align: end;
                    max-width: 105px;
                }
            }
        }
    }
    /* INIZIO JUMBOTRON */
    .jumbotron{
        height: 300px;
        background-image: url(../../../public/img/jumbotron.jpg);
        background-size: cover;
    }
    /* FINE JUMBOTRON */
}
    
// FINE HEADER 